%p#notice= notice

%h4 Topic title: #{@topic.title}
%table.table.table-bordered
  %tr
    %td.post_author{rowspan: "3"}
      %p
        %b
          = @topic.user.nick_name
      %img{src: "/images/profile.jpg"}/
    
  %tr
    %td.post_header
      Posted At #{@topic.created_at.localtime.strftime('%d/%m/%Y %H:%M') } 
       
  %tr    
    %td= @topic.body.html_safe
- @posts.each do |post|
  %table.table.table-bordered
    %tr
      %td.post_author{rowspan: "3"}
        %p
          %b
            = post.user.nick_name
        %img{src: "/images/profile.jpg"}/
    %tr          
      %td.post_header 
        Posted At #{post.created_at.localtime.strftime('%d/%m/%Y %H:%M') }  
        - if user_signed_in?
          - if (current_user.admin_flag == true)
            -#= link_to 'Edit', edit_post_path(post)
            = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
            = link_to 'Agree', post_vote_path(:post_id => post.id, :vote_id => 1, :topic_id => @topic.id)
            = link_to "Don't Know", post_vote_path(:post_id => post.id, :vote_id => 2, :topic_id => @topic.id )
            = link_to "Disagree", post_vote_path( :post_id => post.id, :vote_id => 3, :topic_id => @topic.id )         
    %tr          
      %td=  post.content.html_safe

- if user_signed_in?
  - if (current_user.admin_flag == true)  
    = link_to 'Add Post', new_post_path(:topic_id => @topic.id )     
= link_to 'Back', @forum

