%p#notice= notice

%h4 Topic title: #{@topic.title}
%table.table.table-bordered
  %tr
    %td.post_author{rowspan: "3"}
      %p
        %b
          = @topic.user.nick_name
      %img{src: "/images/profile.jpg"}/
    
  %tr
    %td.post_header
      Posted At #{@topic.created_at.localtime.strftime('%d/%m/%Y %H:%M') }        
  %tr    
    %td= @topic.body.html_safe    
  
      
- @posts.each do |post|
  %table.table.table-bordered
    %tr
      %td.post_author{rowspan: "4"}
        %p
          %b
            = post.user.nick_name
        %img{src: "/images/profile.jpg"}/
    %tr          
      %td.post_header 
        Posted At #{post.created_at.localtime.strftime('%d/%m/%Y %H:%M') }  
        - if user_signed_in?
          - if (current_user.admin_flag == true)
            -#= link_to 'Edit', edit_post_path(post)
            = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }             
    %tr          
      %td=  post.content.html_safe
    %tr 
      %td.post_header
        %span.glyphicon.glyphicon-thumbs-up #{total_count(0,post.id)}
        %span.glyphicon.glyphicon.glyphicon-ban-circle #{total_count(2,post.id)}
        %span.glyphicon.glyphicon.glyphicon-thumbs-down #{total_count(1,post.id)}
        - if user_signed_in?
          - if (current_user.admin_flag == true)
            -#= link_to 'Edit', edit_post_path(post)
            - if (UserPostVote.check_if_user_voted(current_user.id,post.id) == false)
              = link_to 'Agree', post_vote_path(:post_id => post.id, :agree => true, :topic_id => @topic.id),:class => "btn btn-default glyphicon glyphicon-thumbs-up" 
              = link_to "Unsure", post_vote_path(:post_id => post.id, :agree => nil, :topic_id => @topic.id ),:class => "btn btn-default  glyphicon glyphicon-ban-circle"
              = link_to "Disagree", post_vote_path( :post_id => post.id, :agree => false, :topic_id => @topic.id ),:class => "btn btn-default glyphicon glyphicon-thumbs-down"
- if user_signed_in?
  - if (current_user.admin_flag == true)  
    = link_to 'Add Post', new_post_path(:topic_id => @topic.id )     
= link_to 'Back', @forum

