%p#notice= notice

%h4 Topic title: #{@topic.title}
%table.table.table-bordered
  %tr
    %td.post_author{rowspan: "3"}
      %p User
      %img{src: "/images/profile.jpg"}/
    
  %tr
    %td.post_header hdfhdhdfhfdhfdh
  %tr
    %td hffgjfggfjjgf
- @posts.each do |post|
  %table.table.table-bordered
    %tr
      %td.post_author{rowspan: "3"}
        %p User
        %img{src: "/images/profile.jpg"}/
    %tr          
      %td.post_header im title      
    %tr          
      %td=  post.content.html_safe
    %tr
      %td
      - if user_signed_in?
        - if (current_user.admin_flag == true)
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
- if user_signed_in?
  - if (current_user.admin_flag == true)  
    = link_to 'Add Post', new_post_path(:topic_id => @topic.id )     
= link_to 'Back', @forum

