= semantic_form_for @user,:url => user_create_path do |f|
  = f.input :email
  = f.input :nick_name
  = f.input :first_name
  = f.input :last_name
  = f.input :password
  = f.input :profile_pic1
  = f.input :profile_pic2
  = f.input :profile_pic3
  = f.input :profile_pic4
  = f.input :profile_pic5
  = f.input :profile_pic6
  = f.input :profile_pic7
  %br/
  %br/
  = f.action :submit, :as => :button