%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content.html_safe
%p
  %b User:
  = @post.user_id
= link_to 'Edit', edit_post_path(@post)
= link_to 'Back to Topic', topic_path(@post.topic_id)